@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #eee8e1;
  /* position: fixed; */
  /* overflow-y: scroll; */
  /* background-image: url("./background.webp");
    background-repeat: no-repeat;
    background-size: cover; */
}

.header {
  width: 100%;
  height: 60px;
  background: rgb(245, 131, 49);
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  /* justify-content: center; */
  /* gap: 7rem; */
}

.sidemenu {
  position: fixed;
  height: calc(100% - 10px);
  width: 360px;
  bottom: 0;
  /* left: 0; */
  right: 0;
  padding: 0 1rem;
  border-radius: 2rem 0 0 2rem;
  background: rgb(226, 222, 222);
  z-index: 1000;
  transform: translateX(0);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.logo-sidemenu {
  height: 95px;
  /* padding: .1rem; */
  width: 95px;
}

.sidemenu-heading {

  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.sidemenufunctions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 2rem; */
  gap: 2rem;
  font-size: 1.5rem;
}

#menuclose {
  cursor: pointer;
  font-size: 2rem;

}

.hideSidemenu {
  transform: translateX(360px);
}

.left {
  margin: .3rem;
  width: 50%;
}

.logo {
  /* background: rgb(222, 121, 5); */
  /* border-radius: 100%; */
  height: 70px;
  /* padding: .2rem; */
  width: 70px;

  /* width: 100%; */
}

.right {
  /* background: rgb(201, 181, 181); */
  /* width: 50%; */
  gap: 6.5rem;
  display: flex;
  align-items: center;
  padding: .8rem;
}

.call {
  /* gap: 5rem; */
  font-size: 1.2rem;
}

.call-icon-header {
  border-radius: 100%;
  background: rgb(230, 195, 195);
  height: 40px;
  width: 40px;
  padding: .7rem;
}

.get-franch {cursor: pointer;
  font-size: .9rem;
  height: 35px;
  width: 150px;
  border-radius: 1rem;
}

#menubars {
  font-size: 1.7rem;
  cursor: pointer;
}

.container-1 {
  /* background: yellow; */
  height: calc(100% - 60px);
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

 .marathi-heading{
  font-size: 1.7rem;
margin: 7rem 10rem;

/* background: black; */
font-weight: bold;
display: flex;
color: rgb(210, 128, 6);
flex-direction: column;
 }
#list {
  display: flex;
  list-style: none;
  transition: all 2s ease;
}

.slider1 {
  /* padding: 1rem; */
  /* margin-left: 30rem; */
  margin: auto;
  width: 650px;
  height: 600px;
  overflow: hidden;
  border-radius: 3px;
  /* box-shadow: 3px 10px 15px 0px rgba(0,0,0,0.4); */
}

#image0 {
  width: 650px;
  height: 590px;
  border-radius: 3px;
}

ul {
  display: flex;
  list-style: none;
  transition: all 2s ease;
}

.slider {
  /* padding: 1rem; */
  /* margin-left: 30rem; */
  margin: auto;
  width: 650px;
  height: 600px;
  overflow: hidden;
  border-radius: 3px;
  /* box-shadow: 3px 10px 15px 0px rgba(0,0,0,0.4); */
}

img {
  width: 650px;
  height: 590px;
  border-radius: 3px;
}

.container-2 {
  /* background: yellow; */
  height: auto;
  width: 100%;
}
.abt-top{
width: 100%;
display: flex;
height: 600px;
align-items: center;
/* justify-content: center; */
}
.abt-topleft{
width: 45%;
padding: 1rem;
margin: 1rem 2rem;
font-size: 1.7rem;
}
hr{
  width: 250px;
}

.abt-topright{
width: 55%;

}
.roadmap{
  height: 400px;
  width: 700px;
}
.abt-1{
  padding: 1rem;
  margin: 1rem;
width: 100%;
display: flex;
align-items: center;

}
.abt-1left{
width: 50%;
margin: 1rem 2rem;
font-size: 1.5rem;
}
.abt-1right{
  width: 50%;

} 
.abtqlty{
width: 100%;
display: flex;
padding: 1rem;
margin: 2rem 1rem;
align-items: center;
justify-content: space-between;
}
.qltyleft{
width: 50%;
}
.qltyimage{
  height: 400px;
  width: 400px;
}
.qltyright{
  padding: 1rem;
  /* margin: 1rem; */
margin-left: 15rem;
  width: 50%;

}
.abt-footer{
  width: 100%;
}
.team-heading{
  display: flex;
  justify-content: center;
  margin: 1rem;
  font-size: 2.5rem;
}
.team{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.team-box{
  background: rgb(224, 217, 199);
  /* text-align: center; */
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  /* justify-content: space-between; */
  flex-direction: column;
  padding:.5rem;
  width: 350px;
  height: 450px;
  margin: 1rem 1rem;
  border-radius: 2rem;

}
.team-img{
  height: 250px;
  width: 250px;
  border: solid;
  border-color: black;
  border-radius: 100%;
}
/* .team-footer{
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
} */
.ic{
  background: rgb(253, 211, 187);
  border-radius: 100%;
  padding: .7rem;
}
.name{
  font-size: 2rem;
  font-weight: bold;
}
.post{
  font-size: 1.5rem;
  margin: 1rem;

}
.container-3 {
  /* background: rgb(21, 255, 0); */
  height: auto;
  width: 100%;
}

.product-top {
  width: 100%;
  display: flex;
  align-items: center;

}

.left {
  padding: 1rem;
  width: 60%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 2rem;


}

.right {
  padding: 1rem;
  width: 40%;
}


.product-heading {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  /* align-items: center; */
  padding: 1rem;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: center;

}

.ourproductsBox {
  /* background: rgb(210, 185, 185); */
  text-align: center;
  position: relative;
  padding: .5rem .5rem;
  width: 350px;
  height: 350px;
  margin: 1rem .5rem;
  border-radius: 2rem;
  /* z-index: 1; */
  /* float: left; */
  /* overflow: hidden; */
}

.product-images {
  height: 300px;
  width: 300px;
  border-radius: 2rem;


}
.container-4{
width: 100%;
height: auto;
/* background:rgb(236, 50, 236) ; */
}
.franch-top{
height: 550px;
width: 100%;
display: flex;
align-items: center;
margin: 2rem ;
padding: 1rem;
}
.franch_top-left{
width: 55%;
font-size: 1.7rem;

}
.franch_top-right{
width: 45%;
margin: auto;
}
.franch-mid{
  /* background: white; */
width: 100%;
height: 550px;
display: flex;
align-items: center;
justify-content:space-between;
margin: 1rem ;
padding: 1rem;

}
.franchmidd-left{
  /* background-color: blue; */
width: 30%;
}
.franch-midd-img{
  height: 500px;
  width: 450px;
}
.franchmidd-right{
  /* background: pink; */
width: 70%;
margin: 1rem;
font-size: 1.5rem;

}
.franch-bottm{
width: 100%;
height: 550px;
display: flex;
align-items: center;
justify-content: center;
/* background: white; */
}
.franch-bot-left{
width: 35%;
/* background: red; */
}
.kettle-img{
  height: 450px;
  width: 450px;
  margin-left: 2rem;
}
.franch-bot-right{
width: 65%;
/* background: blue; */

}
.franchhead{
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
}
.franchname-field {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
  padding: 0.5rem;
  gap: 0.5rem;
}
.franchinput{
  width: 57rem;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5rem 0.5rem;
}
.fr{
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5rem 0.5rem;
  width: 28rem;
}

.franchsend-message {
  height: 50px;
  width: 200px;
  padding: 0.1rem;
  border-radius: 1rem;
  background: rgb(117, 199, 117);
  margin-left: 25rem;
  font-size: 1.3rem;
}
.container-5 {
  /* background: rgb(8, 159, 170); */
  height: auto;
  width: 100%;
}
.gallery-1{
display: flex;
align-items: center;
padding: .5rem;

}
.gallery-leftheading{
width: 60%;
font-size: 2rem;
margin: 1rem;

}
.gallery-right{
width: 40%;
padding: 1rem;
}
.gallerykettle-img{
  height: 450px;
  width: 450px;
  margin-left: 2rem;
}
.gallerypic-heading{
  margin-left: 7rem;
  font-size: 2.5rem;
}
.gallery-pic{
height: 350px;
width: 350px;
border-radius: 1.5rem 0 1.5rem 0;
border: 2px solid rgb(231, 109, 9);
}
.gallery-photoslist{
display: flex;
flex-wrap: wrap;
margin: 1rem 1rem;
gap: 1rem;
}
.container-6 {
  /* background: rgb(210, 17, 188); */
  height: auto;
  width: 100%;
}

.contact-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont-left {
  width: 60%;
  padding: 1rem;
  width: 60%;
  margin: 0 1.7rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cont-right {
  width: 40%;
  padding: 1rem;

}

.middle {
  background: yellow;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17rem;
  /* justify-content: space-between; */
  padding: 1rem;
}

.contact-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-size: 1.3rem;
}

.first-container {
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  /* background: #8f3e0c; */
  margin: 2rem 1rem;
  justify-content: center;
  align-items: center;
}

.icons-left {
  /* background: #e97109; */
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-bottom: 3.7rem;
  /* width: 40%; */
  /* align-items: center; */

  /* justify-content: center; */
  /* padding: 0 5rem; */
}

.contact-icon {
  height: 55px;
  width: 55px;
  cursor: pointer;
  background: rgb(221, 164, 114);
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 1rem;
  /* margin: .5rem; */
}

.address {
  display: flex;
  margin: 0.5rem;
  align-items: center;
  gap: 1rem;
  /* padding: .5rem; */
}

.add-text {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.email {
  display: flex;
  margin: 0.5rem;
  align-items: center;
  gap: 1rem;
  /* padding: .5rem; */
}

.mail-text {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.phone {
  display: flex;
  margin: 0.5rem;
  align-items: center;
  gap: 1rem;
}

.call-text {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.input-right {
  width: max-content;
  /* width: 60%; */
}

.name-field {
  padding: 0.5rem;
}

.first-last {
  width: 20rem;
}

.input-message {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.7rem;
  width: 43rem;
}

input {
  padding: 0.7rem;
  border-radius: 1rem;
  margin: 0.5rem 0.5rem;
}

.send-message {
  height: 50px;
  width: 150px;
  padding: 0.2rem;
  border-radius: 1rem;
  background: rgb(237, 131, 11);
  margin: 1rem 7rem;
}
.lastpage{
  
width: 100%;
height: 500px;
display: flex;
align-items: center;
/* justify-content: center; */
/* background: rgb(194, 143, 243); */
}
.last-1{
  /* background: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1.5rem;
height: auto;
width: 500px;
/* width: auto; */

}
.lastimg{

  height: 300px;
  width: 300px;
}
.last-2{
  /* background: yellow; */
  width: 500px;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  /* width: auto; */
  height: auto;
}
.last-3{
  width: 500px;
  display: flex;
  flex-direction: column;
  /* background: gold; */
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  /* width: auto; */
  height: auto;
gap: 1.7rem;
}
.last-icons{
  display: flex;
  flex-direction: column;
  gap: .7rem;
  /* width: max-content; */
  /* margin-bottom: 3.7rem; */
}
.lastepage-footer{
  display: flex;
  gap: 2.5rem;
  font-size: 1.5rem;
  padding: 1rem;
}
.footer{
  width: 100%;
  height: 50px;
  background: rgb(248, 124, 82);
  padding: .5rem;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  position: sticky;
  bottom: 0;
  /* top: 0; */
  z-index: 2;
  justify-content: center;
  font-size: 1.5rem;
  /* gap: 7rem; */
}


/* slider 2 css */
.slider2 {
  width: 650px;
  overflow: hidden;
}

.slider2 ul {
  width: fit-content;
  display: flex;
}

.slider2 ul li {
  width: 650px;
}