 @media only screen and (min-width: 1920px) {
}
 @media only screen and (min-width: 1800px) {
     .bannerWrap .banner .bannerTag .bannerTag-small { font-size: 68px; line-height: 62px;}
.bannerWrap .banner .bannerTag .bannerTag-big { font-size: 134px; line-height: 134px;}
.bannerWrap .banner .sliderTwo .bannerTag, .bannerWrap .banner .sliderThree .bannerTag { background-size: 46% auto;}
.bannerWrap .banner .bannerTag .bannerTagtwo-big { font-size: 160px; line-height: 160px;}
.bannerWrap .banner .bannerTag .bannerTagtwo-small {font-size: 103px; line-height: 108px;}

}
@media only screen and (min-width: 1599px) {
   .foundationGalleryWrap .foundationgalleryBox .gallTitle { min-height: 310px;}  
}
 @media only screen and (min-width: 1349px) {
     .bannerWrap .banner .bannerTag .bannerTagtwo-big { font-size: 100px; line-height:100px;}
.bannerWrap .banner .bannerTag .bannerTagtwo-small { font-size: 53px;}
   .bannerWrap .banner .bannerTag .bannerTagtwo-small.fontchange { font-size: 43px;line-height: 52px;}
.bannerWrap .banner .sliderThree .bannerTagtwo-small { font-size: 68px;}
.bannerWrap .banner .sliderTwo .bannerTag, .bannerWrap .banner .sliderThree .bannerTag { background-size: 66% auto;}
   .bannerWrap .banner .bannerTag .bannerTagtwo-big.margintop { margin-top: 60px;}
}

 @media only screen and (max-width: 1300px) {
.bannerWrap .banner .bannerTag .bannerTagtwo-big { font-size: 100px; line-height: 100px;}
.bannerWrap .banner .bannerTag .bannerTagtwo-small { font-size: 53px;}
.bannerWrap .banner .sliderTwo .bannerTag, .bannerWrap .banner .sliderThree .bannerTag { background-size: 66% auto;}
}
 @media only screen and (max-width: 1200px) {
body{ overflow-x: hidden;}
.bannerWrap .banner .bannerImg { margin: 100px 0 30px 0;}
h2 { font-size: 60px; line-height: 60px;}
.networkWrap .networkinfoRight ul li .number { font-size: 50px;	 line-height: 50px;}
.networkWrap .networkinfoRight ul li .text { font-size: 15px;}     
.networkWrap .networkRight .branchBox { padding: 40px 40px 40px 70px;}
.networkWrap .networkRight { width: 47%;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox {width: 32%;}
.bannerWrap .banner .bannerTag .bannerTag-big { font-size: 90px; line-height: 94px;}
.innerbannerWrap .innerbanner .bannerImg img.aboutbannerimg { max-width: 160%;}
.innerbannerWrap .innerbanner .bannerImg img{ max-width:100%;}
.productqualityWrap .productqualityRight img { max-width: 100%;}
.teamWrap .teamInner .teamBox { width: 31%; margin: 20px 1%;}
.connectWrap .connectInner .connectLeft img { max-width: 90%;}
.ourproductslistWrap .ourproductsList .ourproductsBox { width: 32%;}
.contactWrap .contactInner ul li { line-height: 10px;}
.contactWrap .contactInner ul li span { margin-top: 20px;}
.bannerWrap .banner .bannerTag .bannerTag-big { font-size: 50px; line-height: 54px;}
.bannerWrap .banner .bannerTag .bannerTagtwo-big {font-size: 60px; line-height: 60px;}
.bannerWrap .banner .bannerTag .bannerTagtwo-small { font-size: 33px;}
.bannerWrap .banner .sliderTwo .bannerTag { padding: 80px 0 80px 90px;}
.bannerWrap .banner .sliderThree .bannerTag { padding: 60px 0 80px 90px;}
}
 @media only screen and (max-width: 1024px) {
}
 @media only screen and (max-width: 959px) {
.bannerWrap .banner .bannerImg { margin: 0 0px 30px;float: none;}
.bannerWrap .banner .bannerImg { background: url(../images/banner/banner-productBg.png) no-repeat center center;}
.bannerWrap .banner .bannerTag .bannerTag-small { margin-top: 20px;}
.moving-bg-demo { margin: 0 auto;}
.bannerWrap .banner { padding-top: 90px;}
.bannerWrap .banner .bannerTag .bannerTag-small br{ display:none;}
.bannerWrap .banner .bannerTag { float: none; margin: 0 auto 40px auto; width: 90%;text-align:center;}
.home-aboutWrap .home-aboutInner .home-aboutTitle { float: none; margin-top: 0;}
.home-aboutWrap .home-aboutInner .width50 { width: auto; float: none; margin: 0;}
.home-aboutWrap .home-aboutInner .home-aboutTitle br{ display:none;}
.home-aboutWrap .home-aboutInner { width: auto;}
.networkWrap .networkinfoLeft { width: auto; margin: 0; float: none; padding-top: 0;}
.networkWrap .networkinfoRight { width: auto; margin: 0; float: none;}
.networkWrap .networkinfoRight ul { margin: 10px -2%;}
.networkWrap .networkLeft { width: auto; float: none; text-align: center;}	
.networkWrap .networkRight { width: 100%; float: none;}
.ourproductsWrap:after{ display:none;}
.ourproductsWrap .ourproductsInner .ourproductsHero .ourproductsLeft { width: auto; float: none; margin-left: 0; padding-top: 0;}
.ourproductsWrap .ourproductsInner .ourproductsHero .ourproductsRight { width: 150px; float: none; position: absolute; top: -50px; right: 0; z-index: -1;}
.ourproductsWrap .ourproductsInner .ourproductsHero .ourproductsRight img { width: 100%;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox img { margin: 0 auto; max-width: 100%;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox h3 { font-size: 22px; margin-top: 20px;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox { width: 48%;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox.redBgtab { background: #9b3333 url(../images/redBg.jpg)no-repeat center top;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox.yellowBgtab { background: #fab115 url(../images/yellowBg.jpg)no-repeat center top;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox.redBgtab h3 { color: #fbb216;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox.yellowBgtab h3 { color: #7d1617;}
.latestnewsWrap .latestnewsHero .latestnewsHeading { width: auto; float: none;}
.latestnewsWrap .latestnewsHero .latestnewsheroInfo {  width: auto;  float: none;}
.latestnewsWrap .latestnewsList { width: 95%;}
.footerWrap .footerBox { float: none;}
.footerWrap .footerBox.footerFirst { width: auto;}
.footerWrap .footerBox.footerSecond {width: auto; margin: 40px 0;}
.footerWrap .footerBox.footerThird { width: auto;}
.footerWrap:after { left: auto; right: 0;}
.designBy{ display:none;}
.copyRight { width: auto; float: none;  padding-left: 0; text-align: center;}
.innerbannerWrap .innerbanner .bannertag { width: auto; float: none;}
.innerbannerWrap .innerbanner .bannerImg {  display: none;}
.joutneyWrap .joutneyInner .joutneyLeft { width: auto; float: none; margin-right: 0;}
.joutneyWrap .joutneyInner .joutneyRight { width: auto; float: none; margin-top: 30px;}
.productqualityWrap .productqualityLeft { width: auto; float: none;}
.productqualityWrap .productqualityRight { width: 24%; float: none; margin-left: 0; position: absolute;top: -40px;right: 0;}
.managementteamWrap .cairmanWrap .cairmanInner .cairmaninfoWrap { margin-top: -130px;}
.teamWrap .teamInner { margin: 0 -1%;}
.galleryWrap .galleryInner ul li {width: 31%;}
.franchise-aboutWrap .franchise-aboutInner .franchise-aboutRight img {width: 100%;}
.franchiseNetworkWrap .franchiseNetworkInner .franchiseNetworkRight img { width: 100%;}
.franchiseNetworkWrap .formNetwork {width: 80%;}
.franchiseNetworkWrap .franchiseNetworkInner .franchiseNetworkLeft{ margin-bottom:40px;}
.testimonialsWrap .testimonialsInner .testimonialsHero img{ display:none;}
.testimonialsWrap .testimonialsInner .testimonialsHero { width: auto; float: none;  margin-right: 0;}
.testimonialsWrap .testimonialsInner .testimonialslist { width: auto; float: none;}
.connectWrap .connectInner { width: auto;} 
.connectWrap .connectInner .connectRight { width: auto; float: none;}
.connectWrap .connectInner .connectLeft { display:none;}
.franchiseformWrap .franchiseformInner { width: auto;}
.ourproductslistWrap .ourproductsList .ourproductsBox { width: 48%;}
.ourproductslistWrap .ourproductsList .ourproductsBox.yellowBgtab { background: #fab115 url(../images/yellowBg.jpg)no-repeat center top;}
.ourproductslistWrap .ourproductsList .ourproductsBox.redBgtab { background: #9b3333 url(../images/redBg.jpg)no-repeat center top;}
.ourproductslistWrap .ourproductsList .ourproductsBox.yellowBgtab h3 { color: #7d1617;}
.ourproductslistWrap .ourproductsList .ourproductsBox.redBgtab h3 { color: #fbb216;}
.ourproductslistWrap .ourproductsList .ourproductsBox.redBgtab .overlayTxt {background: #9b3333;}
.ourproductslistWrap .ourproductsList .ourproductsBox.yellowBgtab .overlayTxt {background: #fab115;}
.newseventWrap .newseventInner .newseventBox { width: 48%;}
.contactWrap .contactInner ul li { width: auto; float: none;}
.contactWrap .contactInner ul li:nth-child(2) {border-right:none; border-left: none; border-top: 1px solid #e59c00; border-bottom: 1px solid #e59c00;}
.bannerWrap .banner .sliderTwo .bannerTag, .bannerWrap .banner .sliderThree .bannerTag { background:none;}
.bannerWrap .banner .bannerTag .bannerTagtwo-big { font-size: 100px; line-height: 100px;}
.bannerWrap .banner .bannerTag .bannerTagtwo-small { font-size: 60px;}
.bannerWrap .banner .sliderTwo .bannerTag, .bannerWrap .banner .sliderThree .bannerTag { padding: 0;padding-top: 60px;}
.bannerWrap .banner .sliderTwo .bannerImg img, .bannerWrap .banner .sliderThree .bannerImg img{ margin:0 auto;max-width:90%;}
   .tankMsgWrap .tankMsgInner{ width:80%;}
.bannerWrap .banner .sliderTwo .bannerImg { max-width: 100%;}
.bannerWrap .banner .bannerTag .bannerTagtwo-big.margintop { margin-top: 20px; font-size: 60px;}
.bannerWrap .banner .bannerTag .bannerTagtwo-small {font-size: 40px;line-height: 50px;} 
.bannerWrap .banner .bannerTag .bannerTagtwo-big {font-size: 60px; line-height: 70px;} 
.bannerWrap .banner .sliderTwo .bannerTag{ margin: 0 auto; width: 100%;  max-width: 80%;}
 .foundationGalleryWrap .foundationgalleryBox { width: 48%;}  
}
 @media only screen and (max-width: 800px) {
}
 @media only screen and (max-width: 768px) {
}
 @media only screen and (max-width: 753px) {
 .copyRight {  text-align: left;}
 .footerWrap:after { width: 164px; height: 162px; background: url(../images/footer-ketli.png)no-repeat center/cover; }
 .managementteamWrap .cairmanWrap .cairmanInner .cairmanMsg { width: auto; float: none; margin-right: 0;}
.managementteamWrap .cairmanWrap .cairmanInner .cairmaninfoWrap { margin-top: 20px; width: auto; float: none;}
.teamWrap .teamInner .teamBox { width: 48%; }
.galleryWrap .galleryInner ul li { width: 50%;}
.franchise-aboutWrap .franchise-aboutInner .franchise-aboutLeft {width: auto; float: none; margin-left: 0; margin-top: 0;}
.franchise-aboutWrap .franchise-aboutInner .franchise-aboutRight { width: auto; float: none; margin: 30px 0 0 0; text-align: center;}
.franchiseNetworkWrap .franchiseNetworkInner .franchiseNetworkLeft {  width: auto; float: none; padding-top: 0;}
.franchise-aboutWrap .franchise-aboutInner .franchise-aboutRight img {  width: 200px;}
.franchiseNetworkWrap .franchiseNetworkInner .franchiseNetworkRight { width: auto; float: none; margin-bottom:30px;}
.franchiseNetworkWrap .franchiseNetworklist ul li { width: 48%; }
h2 { font-size: 50px; line-height: 50px;}
.ourproductfilterWrap .ourproductfilterinner ul li { padding: 10px 10px; margin-right: 10px;}
.ourproductslistWrap .ourproductsList .ourproductsBox img { width: 100%;}
.ourproductslistWrap .ourproductsList .ourproductsBox.redBg .overlayTxt {padding: 15px;}
.home-aboutWrap:after{ display:none;}
   .tankMsgWrap .tankMsgInner{ width:auto;}
}
 @media only screen and (max-width: 736px) {
}
 @media only screen and (max-width: 711px) {
}
 @media only screen and (max-width: 640px) {
.visionmissionWrap .visionmissionBox { width: auto; float: none; padding: 20px; margin-bottom: 15px;}
.foundationGalleryWrap .foundationgalleryBox { width: auto; margin: 15px auto; float: none;}
.foundationGalleryWrap .foundationgalleryBox .gallTitle { min-height: 10px;}   
}
 @media only screen and (max-width: 600px) { 
  .headerRight .headercontact a.franchiseBtn { padding: 5px 10px;} 
 .mobileCall{ background: #9a2c29; border-radius: 50%; width: 40px; height: 40px; text-align: center; line-height: 40px; margin: 0; position:fixed; right:10px; bottom:60px; display:inline-block;-webkit-box-shadow: -2px 0px 8px 0px rgba(0,0,0,0.1);
-moz-box-shadow: -2px 0px 8px 0px rgba(0,0,0,0.1);box-shadow: -2px 0px 8px 0px rgba(0,0,0,0.1); z-index:999;}
.mobilefranchiseBtn { background: #9a2c29; padding: 8px 0; border-radius: 0; color: #ffffff; display: block; text-align: center; position: fixed; bottom: 0;  left: 0; width: 100%; text-transform: uppercase; font-family: 'poppinsmedium';-webkit-box-shadow: 0px -2px 8px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px -2px 8px 0px rgba(0,0,0,0.1); box-shadow: 0px -2px 8px 0px rgba(0,0,0,0.1); z-index:999;}
.mobilefranchiseBtn:hover{color:#fab115;}
.headerRight .headercontact{ display:none;}
footer { padding: 60px 0px 40px 0px;}
  .vidgalleryWrap .vidgalleryInner ul li {width: auto;margin: 20px 0;float: none;} 
}
 @media only screen and (max-width: 569px) {
}
 @media only screen and (max-width: 568px) {
  .innerbannerWrap .innerbanner .bannertag.fontballu h2 { font-size: 60px; line-height: 70px;}
.innerbannerWrap .innerbanner .bannertag.fontballu h2 span {margin-left: 0;} 
}
 @media only screen and (max-width: 533px) {
 .bannerWrap .banner .bannerTag .bannerTag-small { font-size: 22px; line-height: 26px;}
 .bannerWrap .banner .bannerTag .bannerTag-big {font-size: 56px;line-height: 60px;}
h2 { font-size: 40px; line-height: 40px;}
.home-aboutWrap .home-aboutInner .home-aboutImg {  filter: grayscale(0%);}
.networkWrap .networkinfoRight ul li { padding: 30px 6px;}
.networkWrap .networkRight .branchBox h3 { font-size: 26px;}
.networkWrap .networkRight .branchBox .totalNum { font-size: 15px;}
.ourproductsWrap .ourproductsInner .ourproductsHero .ourproductsRight { width: auto; text-align: center; float: none; position: relative; top: 0; right: 0px; z-index: 1; margin: 30px 0 0 0;}
.ourproductsWrap .ourproductsInner .ourproductsHero .ourproductsRight img { width: 150px;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox { width: auto; float: none; margin: 20px 0;}
.latestnewsWrap .latestnewsList .latestnewsbox { width: 96%;}
.footerWrap::after { bottom: -20px;}
.footerWrap::after { width: 144px; height: 142px;}
.navigation { right: -81%; width: 80%;}
nav { padding: 50px 20px;}
nav ul li a { font-size: 25px;}
.innerbannerWrap .innerbanner .bannertag .aboutTag { font-size: 32px;line-height: 46px;}
.teamWrap .teamInner .teamBox { width: auto; float: none;}
.galleryWrap .galleryInner ul li { width: auto; float: none;}
.testimonialsWrap .testimonialsInner .testimonialslist .testimonialsBox { padding: 15px;}
.testimonialsWrap::after,.franchiseformWrap::after{ display:none;}
.franchiseformWrap .franchiseForm .inputBox {  width: auto; margin: 0px 0 30px 0; float:none;}
.ourproductslistWrap .ourproductsList .ourproductsBox { width: auto;  float: none;}
.ourproductfilterWrap { display: none;}
.ourproductslistWrap .ourproductsList .ourproductsBox.redBg .overlayTxt { position: relative;  bottom: 0; padding:0;}
.ourproductslistWrap .ourproductsList .ourproductsBox.yellowBg .overlayTxt { position: relative;  bottom: 0; padding:0;}
.ourproductslistWrap .ourproductsList .ourproductsBox h3 { margin-bottom: 20px;}
.footerWrap .footerBox .quicklinks { width: auto; float: none;} 
.footerWrap .footerBox .quicklinks.lastBox{ margin-top:30px;}
.ourproductslistWrap .ourproductsList .ourproductsBox { margin: 25px 0;}
.ourproductslistWrap .ourproductsList .ourproductsBox.redBgmobile { background: #9b3333 url(../images/redBg.jpg)no-repeat center top;}
.ourproductslistWrap .ourproductsList .ourproductsBox.yellowBgmobile { background: #fab115 url(../images/yellowBg.jpg)no-repeat center top;}
.ourproductslistWrap .ourproductsList .ourproductsBox.yellowBgtab .overlayTxt{ background:none;}
.ourproductslistWrap .ourproductsList .ourproductsBox.redBgtab .overlayTxt{background:none;}
.ourproductslistWrap .ourproductsList .ourproductsBox.redBgmobile h3{ color: #fbb216;}
.ourproductslistWrap .ourproductsList .ourproductsBox.yellowBgmobile h3{ color: #7d1617;}
.newseventWrap .newseventInner .newseventBox { width: auto; float: none;}
.ontactformWrap .inputBox { width: auto; margin: 0 0 30px 0; float: none;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox.yellowBgmobile { background: #fab115 url(../images/yellowBg.jpg)no-repeat center top;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox.redBgmobile  { background: #9b3333 url(../images/redBg.jpg)no-repeat center top;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox.redBgmobile h3{color: rgb(251, 178, 22);}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox.yellowBgmobile h3 {  color: rgb(125, 22, 23);}   
.bannerWrap .banner .bannerTag .bannerTag-big {font-size: 40px;line-height: 40px; margin-top:15px;}
.bannerWrap .banner .bannerTag .bannerTagtwo-big { font-size: 70px; line-height: 70px;}
.bannerWrap .banner .bannerTag .bannerTagtwo-small { font-size: 40px; line-height: 45px; margin-top: 20px;}
.bannerWrap .banner .bannerSlider .slick-dots{ bottom:5px;}
.franchiseNetworkWrap .franchiseNetworklist ul li { width: auto; float: none;}
}
 @media only screen and (max-width: 480px) {
}
 @media only screen and (max-width: 424px) {   
.moving-bg-demo { height: 256px; width: 253px;}
.bannerWrap .banner .bannerImg { width: 90%; margin: 0 auto;}
.bannerWrap .banner .bannerImg .mobileBanner{ display:block;width: 100%;}
.bannerWrap .banner .bannerImg{ background:none; margin-bottom:30px;}
.moving-bg-demo{ display:none;}
.bannerWrap .banner .bannerTag { margin: 0 auto 0;}
}
 @media only screen and (max-width: 414px) {
}
@media only screen and (max-width: 412px) {
}
 @media only screen and (max-width: 400px) {
}
 @media only screen and (max-width: 384px) {
}
 @media only screen and (max-width: 375px) {
}
 @media only screen and (max-width: 360px) {
}
 @media only screen and (max-width: 320px) {
}
