@charset "utf-8";
/* CSS Document */
html { scroll-behavior: smooth;}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box; }
body { font-size: 15px; font-family: 'poppinslight';}
/* MAIN LAYOUT
========================================================================*/
.tankMsgWrap{ padding:60px 0; position:relative;}
.tankMsgWrap .tankMsgInner{ position:relative; margin:0 auto; width:60%; text-align:center; font-size:18px;}
/* HEADER
========================================================================*/
header { position:fixed; top:0; left:0; width:100%; z-index:999;}
header.stickyHeader{ background:url("../images/headerBg.jpg") no-repeat center/cover; transition:0.1s; -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1); box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);}
.logo{ float:left;}
.logo a{ display:block; padding:10px 0;}
.logo a img{ width:138px;}
header .logo a img.colorLogo{ display:block;}
header .logo a img.whiteLogo{ display:none;}
header.innerHeader .logo a img.colorLogo{display:none;}
header.innerHeader .logo a img.whiteLogo{display:block;}
.headerRight{ float:right; margin-top:20px;}
.headerRight .headercontact{ float:left;}
.headerRight .headercontact a{ color:#333333; font-family: 'poppinssemibold'; display:inline-block; text-transform:uppercase;margin-left:15px;}
.innerHeader .headerRight .headercontact a{ color:#ffffff;}
.headerRight .headercontact a.franchiseBtn{ background:#9b3333; padding:5px 15px; border-radius:10px; color:#ffffff;}
.innerHeader .headerRight .headercontact a.franchiseBtn{background:#fab115; color:#9a3333;}
.headerRight .menuBtn{float:left; width:30px;margin-top:7px; margin-left:15px; cursor:pointer;}
.headerRight .menuBtn span{ display:block; width:100%; height:3px; background:#9b3333; }
.innerHeader .headerRight .menuBtn span{  background:#ffffff; }
.headerRight .menuBtn span:first-child{}
.headerRight .menuBtn span:nth-child(2){ margin:5px 0;}
.headerRight .menuBtn span:last-child{}
 header.stickyHeader.innerHeader{ background:#9a3333}
header .headerRight .headercontact a img{margin:0 0 6px 0; width:24px;}

.mobileCall{ display:none;}
.mobilefranchiseBtn{ display:none;}
/* NAV
========================================================================*/
.navigation{ position:fixed; top:0; right:-452px; width:450px; height:100%; background:#9b3333; z-index:9999; transition:0.5s;}
.menuoverlay{ background:rgba(0,0,0,0.6); position:fixed; width:100%; height:100%; left:0; top:0; z-index:998;display:none;}
.menuoverlay.active{ display:block;}
.navigation.active{ right:0; transition:0.5s;}
.menuClose{ position:absolute; right:14%; top:20px; cursor:pointer;}
nav { padding:50px 50px; display:table; vertical-align:middle; height:100%;}
nav ul { display:table-cell; vertical-align:middle; height:100%;}
nav ul li { margin-bottom:10px;}
nav ul li a { font-size:30px; color:#ffffff; font-family: 'poppinsbold'; text-transform:uppercase;}
nav ul li:last-child { }
nav ul li a:hover, nav ul li.active a, nav ul li:hover a, nav ul li a.active { color:#e18a28; }
/* BANNER
========================================================================*/
.bannerWrap{ background:url("../images/banner/bannerBg.jpg") no-repeat center/cover;}
.bannerWrap .banner{}
.bannerWrap .banner .bannerTag{float:left; margin:180px 0 60px 5%; }
.bannerWrap .banner .bannerTag .bannerTag-small{ font-size:28px; line-height:32px; text-transform:uppercase; color:#1a1a1a; font-family: 'poppinsmedium';margin-top: 30px;}
.bannerWrap .banner .bannerTag .bannerTag-big{ font-size:74px; line-height:80px; color:#e18a28; text-transform:uppercase; font-family: 'poppinsbold';margin-bottom: 30px;}
.moving-bg-demo { background: url(/images/banner/mobileBanner.png) no-repeat;height:496px; width: 545px;}
.bannerWrap .banner .bannerImg{ float:right; margin:100px 5%  30px 0; background:url("../images/banner/banner-productBg.png") no-repeat left 60px top 30px;padding-bottom: 40px;}
.bannerWrap .banner .bannerImg img.productBanner{margin: -50px 0 -190px 0;}
.bannerWrap .banner .bannerImg .mobileBanner{ display:none;}
/* COmman Style */
.readMore{ margin-top:20px;}
.readMore a{ background:#9b3333; color:#ffffff; padding:10px 15px; border-radius:5px;}
.readMore a:hover{}
.bannerWrap .banner .bannerSlider .slick-dots { text-align: center; position: absolute; bottom: 30px; left: 0; right: 0;} 
.bannerWrap .banner .bannerSlider .slick-dots li{ display:inline-block;background: #9b3333;width: 15px; height: 15px; border-radius: 50%; margin: 0 6px;}
.bannerWrap .banner .bannerSlider .slick-dots li button{ opacity:0;}
.bannerWrap .banner .bannerSlider .slick-dots li.slick-active{ background:#e18a28;}
.bannerWrap .banner .sliderTwo .bannerTag{ background:url("../images/banner2Bg.png") no-repeat left top; padding:130px 0 120px 90px; max-width: 55%;margin: 150px 0 60px 5%;}
.bannerWrap .banner .sliderTwo .bannerImg{ background:none; max-width: 35%;}
.bannerWrap .banner .sliderTwo .bannerImg img{ max-width: 100%;}
.bannerWrap .banner .bannerTag .bannerTagtwo-big{ font-size:120px; color:#e18a28; line-height:120px;font-family: 'baloo_2'; font-weight:bold; margin-bottom: 0;}
.bannerWrap .banner .bannerTag .bannerTagtwo-small{ font-size:73px; color:#9b3333; line-height:78px;font-family: 'baloo_2'; font-weight:bold;}

.bannerWrap .banner .bannerTag .bannerTagtwo-big.fontchange{ font-family: 'poppinsbold';}
.bannerWrap .banner .bannerTag .bannerTagtwo-small.fontchange{  font-family: 'poppinsregular';}

.bannerWrap .banner .bannerTag .bannerTagtwo-big.margintop {margin-top: 70px; font-size: 80px;}
.bannerWrap .banner .bannerTag .bannerTagtwo-small.marginbottom{ margin-bottom: 40px;}
.bannerWrap .banner .sliderThree .bannerTag{ background:url("../images/banner2Bg.png") no-repeat left top; padding:130px 0 120px 90px;}
.bannerWrap .banner .sliderThree .bannerImg{ background:none;}
.bannerWrap .banner .sliderThree .bannerTagtwo-big{ font-size:110px; color:#e18a28; line-height:120px; font-family: 'baloo_2'; font-weight:bold; margin-top: 20px;margin-bottom: 0;}
.bannerWrap .banner .sliderThree .bannerTagtwo-small{ font-size:60px; color:#9b3333; line-height:78px; font-family: 'baloo_2'; font-weight:bold; margin-top: 10px;}
.bannerWrap .banner .bannerImg img.sliderThree{ margin-top:80px; max-width:95%;}
.bannerWrap .banner .bannerImg img.sliderFour {margin-top: -20px; max-width:95%;}
/* Home Page */
.home-aboutWrap{ position:relative; padding:60px 0;z-index:9;}
.home-aboutWrap:after{ background:url("../images/aboutBg.png") no-repeat; top:100px; left:0; position:absolute; content:""; width:334px; height:599px; z-index:1;}
.home-aboutWrap .home-aboutInner{ width:90%; margin:0 auto; z-index:9; position:relative;}
.home-aboutWrap .home-aboutInner .width50{ width:48%; float:left; margin:0 1%;}
.home-aboutWrap .home-aboutInner .home-aboutTitle{ float:right; margin-top:30px;}
.home-aboutWrap .home-aboutInner .home-aboutImg{ text-align:center; transition: 4s;}
.home-aboutWrap:hover .home-aboutInner .home-aboutImg{ filter: grayscale(0%); transition: 4s;}
.home-aboutWrap .home-aboutInner .home-aboutImg img{ max-width:100%;}
.home-aboutWrap .home-aboutInner .home-aboutInfo{ margin-top:30px;}
.home-aboutWrap .home-aboutInner .home-aboutInfo{}

.networkWrap{ background:#eaeae9; padding:60px 0; position:relative; z-index:1;}
.networkWrap .networkInner{ position:relative; margin:0 auto; z-index:9;}
.networkWrap .networkinfoLeft{ width:46%; margin:0 2% 0 0; float:left; padding-top:50px;}
.networkWrap .networkinfoRight{ width:46%; margin:0 0 0 2%; float:left;}
.networkWrap .networkinfoRight ul{}
.networkWrap .networkinfoRight ul li{ width:46%; margin:12px 2%; float:left; text-align:center; background:#7c1516; padding:30px 20px;}
.networkWrap .networkinfoRight ul li .number{ display:block; font-size:70px; line-height:70px; color:#fbb216; font-family: 'poppinsbold'; margin-bottom:10px;}
.networkWrap .networkinfoRight ul li .text{display:block; font-size:20px; color:#ffffff;}
.networkWrap .networkLeft{ width:53%; float:left; text-align:right;margin-top: 50px;}
.networkWrap .networkLeft img{ max-width:100%;}
.networkWrap .networkRight{ width:40%; float:left;margin-top: 50px;}
.networkWrap .networkRight .branchWrap{ margin:50px 0 0 50px; position:relative;}
.networkWrap .networkRight .branchWrap:after{ width:105px; height:135px; position:absolute; left:-52px; top:22px; background:url("../images/branhIcon.png") no-repeat; content:""; z-index:9;}
.networkWrap .networkRight .branchSlider{}
.networkWrap .networkRight .branchBox{ background:#a08d75; position:relative; padding:40px 20px 40px 90px; border-radius:30px;}
.networkWrap .networkRight .branchBox h3{ color:#ffffff; font-size:34px; font-family: 'poppinsbold';}
.networkWrap .networkRight .branchBox .totalNum{ font-size:21px;font-family: 'poppinssemibold'; color:#ffffff; margin:10px 0;}
.networkWrap .networkRight .branchBox .viewButton{}
.networkWrap .networkRight .branchBox .viewButton a{ background:#9b3333; padding:5px 10px; font-size:14px; color:#ffffff;}
.networkWrap .networkRight .branchBox .viewButton a:hover{}

.ourproductsWrap{ position:relative; padding:60px 0;}
.ourproductsWrap:after{ position:absolute; right:0; top:-60px; content:""; width:353px; height:355px; background:url("../images/grapics1.png")no-repeat; z-index:1;}
.ourproductsWrap .ourproductsInner{ margin:0 auto; position:relative; z-index:9;}
.ourproductsWrap .ourproductsInner .ourproductsHero{width:94%; margin:0 auto; position:relative;}
.ourproductsWrap .ourproductsInner .ourproductsHero .ourproductsLeft{ width:56%; float:right; margin-left:5%; padding-top:200px;}
.ourproductsWrap .ourproductsInner .ourproductsHero .ourproductsLeft .readMore{ margin-top:30px;}
.ourproductsWrap .ourproductsInner .ourproductsHero .ourproductsLeft .readMore a{}
.ourproductsWrap .ourproductsInner .ourproductsHero .ourproductsRight{ width:34%; float:left;}
.ourproductsWrap .ourproductsInner .ourproductsHero .ourproductsRight img{ }

.ourproductsWrap .ourproductsInner .ourproductsList{ position:relative; margin-top:50px;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox{ text-align:center; padding:10px 20px 20px 20px; width:24%; margin:5px 0.5%;float:left;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox.redBg{ background:#9b3333 url("../images/redBg.jpg")no-repeat center top;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox.yellowBg{background:#fab115 url("../images/yellowBg.jpg")no-repeat center top;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox img{ margin:0 auto;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox h3{ font-size:28px; font-family: 'poppinsmedium'; margin-top:20px;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox.redBg h3{ color:#fbb216;}
.ourproductsWrap .ourproductsInner .ourproductsList .ourproductsBox.yellowBg h3{ color:#7d1617;}
.ourproductsWrap .ourproductsInner .ourproductsList .readMore{ text-align:center; margin-top:40px;}
.ourproductsWrap .ourproductsInner .ourproductsList .readMore a{ padding:10px 40px;}

.latestnewsWrap{ position:relative; padding:80px 0; background:#eaebe9;}
.latestnewsWrap .latestnewsHero{ margin:0 auto; position:relative;}
.latestnewsWrap .latestnewsHero .latestnewsHeading{ width:40%; float:left;}
.latestnewsWrap .latestnewsHero .latestnewsHeading h2{}
.latestnewsWrap .latestnewsHero .latestnewsheroInfo{ width:55%; float:left;}
.latestnewsWrap .latestnewsList{ margin-top:40px; width:94%; float:right;}
.latestnewsWrap .latestnewsList .latestnewsSlider{ }
.latestnewsWrap .latestnewsList .latestnewsbox{ width:92%;}
.latestnewsWrap .latestnewsList .latestnewsbox .newsThum{}
.latestnewsWrap .latestnewsList .latestnewsbox .newsThum img{ width:100%;}
.latestnewsWrap .latestnewsList .latestnewsbox .newsinfo{ background:#ffffff; padding:20px 20px; font-size:14px; color:#000000; min-height: 250px; position:relative;}
.latestnewsWrap .latestnewsList .latestnewsbox .newsinfo .knowMore{ position:absolute; bottom:15px; right:15px; left:15px; text-align:right;}
.latestnewsWrap .latestnewsList .latestnewsbox .newsinfo .knowMore:after{ width:100%; height:2px; background:#e18a28; content:""; position:absolute; left:0; top:12px; z-index:1;}
.latestnewsWrap .latestnewsList .latestnewsbox .newsinfo .knowMore a{ position:relative; z-index:9; color:#9b3333;}
.latestnewsWrap .latestnewsList .latestnewsbox .newsinfo .knowMore a span{ background:#ffffff; padding:0 8px; margin-right:20px}

/* Inner Pages */
ul.listStyle{ margin-top:10px;}
ul.listStyle li{ padding-left:15px; margin-bottom:15px; background:url("../images/bullet-point.png") no-repeat left top 9px;}

.innerbannerWrap{ background:#9a3333; padding:160px 0 80px 0;}
.innerbannerWrap .innerbanner{}
.innerbannerWrap .innerbanner .bannertag{ width:60%; float:left; color:#ffffff;}
.innerbannerWrap .innerbanner .bannertag h2{ color:#ffffff; margin-bottom:30px;}
.innerbannerWrap .innerbanner .bannertag h2 span{ color:#fab115;}
.innerbannerWrap .innerbanner .bannertag.fontballu h2{ font-family: 'baloo_2'; font-weight:bold; font-size: 90px; line-height: 95px;}
.innerbannerWrap .innerbanner .bannertag.fontballu .aboutTag { font-size: 48px; line-height: 60px;}
.innerbannerWrap .innerbanner .bannertag.fontballu h2 span{ margin-left:80px;}
.innerbannerWrap .innerbanner .enquireBtn{ margin-top:50px;}
.innerbannerWrap .innerbanner .enquireBtn a{ background:#fab115; color:#9a3333; padding:10px 25px; border-radius:5px; font-size:20px; font-family: 'poppinssemibold'; text-transform:uppercase;}
.innerbannerWrap .innerbanner .enquireBtn a:hover{}
.innerbannerWrap .innerbanner .bannerImg{width:32%; float:right;}
.innerbannerWrap .innerbanner .bannerImg img.productBanner{ margin:-50px 0 -200px 0;}
.innerbannerWrap .innerbanner .bannerImg img.aboutbannerimg{ float:right;}
.innerbannerWrap .innerbanner .bannertag .aboutTag{ font-size:42px; line-height:56px; color:#ffffff; border-top:2px solid #fbb216;border-bottom:2px solid #fbb216; display:inline-block; padding:5px 10px; }
.franchise-aboutWrap{ position:relative; padding:60px 0;} 
.franchise-aboutWrap .franchise-aboutInner{ margin:0 auto; position:relative; z-index:9;} 
.franchise-aboutWrap .franchise-aboutInner .franchise-aboutLeft{ width:60%; float:right; margin-left:5%; margin-top:50px; }
.franchise-aboutWrap .franchise-aboutInner .franchise-aboutLeft h3{  margin-top:20px;}
.franchise-aboutWrap .franchise-aboutInner .franchise-aboutLeft .readMore{ margin-top:50px;}
.franchise-aboutWrap .franchise-aboutInner .franchise-aboutLeft .readMore a{}
.franchise-aboutWrap .franchise-aboutInner .franchise-aboutRight{ width:34%; float:left;}
.franchise-aboutWrap .franchise-aboutInner .franchise-aboutRight img{ }

.franchiseNetworkWrap{ background:#9b3333; padding:60px 0;}
.franchiseNetworkWrap .franchiseNetworkInner{}
.franchiseNetworkWrap .franchiseNetworkInner .franchiseNetworkLeft{ width:50%; float:left; padding-top:80px;}
.franchiseNetworkWrap .franchiseNetworkInner h2{ color:#ffffff; }
.franchiseNetworkWrap .formNetwork{ width:60%; margin-top:30px;}
.franchiseNetworkWrap .formNetwork select{ width:100%; background:#ffffff; color:#b3b3b3; border:none; padding:15px 15px; margin-bottom:30px; border-radius:8px;}
.franchiseNetworkWrap .formNetwork .submitsearch{ margin-top:20px;}
.franchiseNetworkWrap .formNetwork .submitsearch a{ background:#fab115; color:#9b3333; padding:10px 30px; text-transform:uppercase;font-family: 'poppinssemibold'; font-size:20px; border-radius:8px;cursor: pointer;}
.franchiseNetworkWrap .franchiseNetworkInner .franchiseNetworkRight{ width:50%; float:right;}
.franchiseNetworkWrap .franchiseNetworkInner .franchiseNetworkRight img{    max-width: 100%;}
.franchiseNetworkWrap .franchiseNetworklist{}
.franchiseNetworkWrap .franchiseNetworklist ul{ margin:0 -1%; display: none;} 
.franchiseNetworkWrap .franchiseNetworklist ul li{ color:#ffffff; padding-left:15px; background:url("../images/bullet-point.png") no-repeat left top 8px; width:31%; float:left;     text-transform: uppercase; margin:10px 1%;}

.testimonialsWrap{ position:relative; padding:80px 0;}
.testimonialsWrap:after{ position:absolute; left:0; bottom:-140px; background:url("../images/grapics3.png") no-repeat; width:210px; height:286px; content:""; z-index:1;}
.testimonialsWrap .testimonialsInner{ width:95%; float:right; z-index:9;}
.testimonialsWrap .testimonialsInner .testimonialsHero{ width:46%; float:left; margin-right:2%;}
.testimonialsWrap .testimonialsInner .testimonialsHero img{ margin-bottom:30px;width: 100px;}
.testimonialsWrap .testimonialsInner .testimonialsHero h2{}
.testimonialsWrap .testimonialsInner .testimonialslist{ width:52%; float:left;}
.testimonialsWrap .testimonialsInner .testimonialslist .testimonialsSlider{}
.testimonialsWrap .testimonialsInner .testimonialslist .testimonialsBox{ width:96%; background:#f2f2f2; padding:30px;  text-align:center; border-radius:30px;}
.testimonialsWrap .testimonialsInner .testimonialslist .testimonialsquote{min-height: 130px;font-size: 18px;}
.testimonialsWrap .testimonialsInner .testimonialslist .testimonialsBox img{ margin:0 auto 10px auto;}
.testimonialsWrap .testimonialsInner .testimonialslist .testimonialsBox .testimonialinfo{ margin-top:30px;}
.testimonialsWrap .testimonialsInner .testimonialslist .testimonialsBox .testimonialinfo .name{ font-size:23px; color:#9b3333; font-family: 'poppinsbold';}
.testimonialsWrap .testimonialsInner .testimonialslist .testimonialsBox .testimonialinfo .location{}

.connectWrap{ background:#9b3333; padding:60px 0; position:relative;}
.connectWrap .connectInner{ width:90%; margin:0 auto; z-index:9;}
.connectWrap .connectInner .connectLeft{width:40%; float:left; text-align:center;}
.connectWrap .connectInner .connectLeft img{}
.connectWrap .connectInner .connectRight{ width:50%; float:right;color:#ffffff; padding-top:20px;}
.connectWrap .connectInner .connectRight h2{ color:#ffffff;}

.franchiseformWrap{ position:relative; padding:60px 0;}
.franchiseformWrap:after{ position:absolute; right:0; bottom:-130px; background:url("../images/grapics4.png") no-repeat; content:""; width:239px; height:287px;}
.franchiseformWrap .franchiseformInner{ width:94%; margin:0 auto;}
.franchiseformWrap .franchiseformInner .franchiseForm{}
.franchiseformWrap .franchiseformInner .franchiseForm h2{ text-align:center;}
.franchiseformWrap .franchiseForm .inputBox{ width:48%; margin:0 1% 30px 1%; position:relative; float:left;}
.franchiseformWrap .franchiseForm .inputBox.fullWidth{width:98%;}
.franchiseformWrap .franchiseForm .inputBox input{ width:100%; padding:15px 15px; border:1px solid #9b3333;  border-radius:10px;font-family: 'poppinsregular';}
.franchiseformWrap .franchiseForm .inputBox select{width:100%; padding:15px 15px; border:1px solid #9b3333; border-radius:10px;font-family: 'poppinsregular';}
.franchiseformWrap .franchiseForm .inputBox textarea{width:100%; padding:15px 15px; border:1px solid #9b3333; border-radius:10px;font-family: 'poppinsregular';}
.franchiseformWrap .franchiseForm .inputBox.radioinput {} 
.franchiseformWrap .franchiseForm .inputBox.radioinput > div > label{ margin:0 15px;}
.franchiseformWrap .franchiseForm .inputBox.radioinput > div > label input{width: auto; margin-right: 10px;}
  .franchiseformWrap .franchiseForm .inputBox >label{ font-family: 'poppinsmedium';}
.franchiseformWrap .franchiseForm .inputBox .formError { color: #c70505; font-weight: normal; font-size: 13px; position: absolute; left: 15px; bottom: -22px;}
.franchiseformWrap .franchiseForm .inputSubmit{width: 98%; margin: 0 auto; }
.franchiseformWrap .franchiseForm .inputSubmit.buttonCenter {text-align: center;}
.franchiseformWrap .franchiseForm .inputSubmit input, .franchiseformWrap .franchiseForm .inputSubmit button{ background:#fab115; text-transform:uppercase; padding:12px 50px; color:#9b3333; border:none; font-family: 'poppinsbold'; font-size:18px; border-radius:10px;}

/* Products */
.ourproductfilterWrap{ background:#fab115; padding:40px 0;}
.ourproductfilterWrap .ourproductfilterinner{}
.ourproductfilterWrap .ourproductfilterinner ul{}
.ourproductfilterWrap .ourproductfilterinner ul li{ float:left; background:#9a3333; padding:10px 20px; border-radius:8px; color:#ffffff; margin-right:20px;}
.ourproductfilterWrap .ourproductfilterinner ul li:last-child{ margin-right:0;}
.ourproductslistWrap { position:relative; padding:60px 0;}
.ourproductslistWrap .ourproductsList{ position:relative; }
.ourproductslistWrap .ourproductsList .ourproductsBox{ text-align:center; position:relative; padding:10px 20px 20px 20px; width:24%; margin:5px 0.5%;float:left; overflow:hidden;}
.ourproductslistWrap .ourproductsList .ourproductsBox.redBg{ background:#9b3333 url("../images/redBg.jpg")no-repeat center top;}
.ourproductslistWrap .ourproductsList .ourproductsBox.yellowBg{ background:#fab115 url("../images/yellowBg.jpg")no-repeat center top;}
.ourproductslistWrap .ourproductsList .ourproductsBox.redBg .overlayTxt{ position:absolute; left:0; bottom:-101%; width:100%; height:100%; padding:30px; color:#ffffff; transition:0.5s; background:#9b3333;}
.ourproductslistWrap .ourproductsList .ourproductsBox.yellowBg .overlayTxt{ position:absolute; left:0; bottom:-101%; width:100%; height:100%; padding:30px; color:#ffffff; transition:0.5s;background:#fab115;}
.ourproductslistWrap .ourproductsList .ourproductsBox:hover .overlayTxt{ bottom:0; transition:0.5s;}
.ourproductslistWrap .ourproductsList .ourproductsBox img{ margin:0 auto;}
.ourproductslistWrap .ourproductsList .ourproductsBox h3{ font-size:28px; font-family: 'poppinsmedium'; margin-top:20px; min-height: 46px;}
.ourproductslistWrap .ourproductsList .ourproductsBox.redBg h3{ color:#fbb216;}
.ourproductslistWrap .ourproductsList .ourproductsBox.yellowBg h3{ color:#7d1617;}
.ourproductslistWrap .ourproductsList .readMore{ text-align:center; margin-top:40px;}
.ourproductslistWrap .ourproductsList .readMore a{ padding:10px 40px;}

/* About Us */
.joutneyWrap{ position:relative; padding:60px 0;}
.joutneyWrap .joutneyInner{}
.joutneyWrap .joutneyInner .joutneyLeft{ width:40%; float:left; margin-right:5%;}
.joutneyWrap .joutneyInner .joutneyRight{ width:55%; float:left;}
.joutneyWrap .joutneyInner .joutneyRight img{ width:100%;}

.productqualityWrap{ position:relative; padding:60px 0; background:#9b3333;color:#ffffff;}
.productqualityWrap .productqualityInner{}
.productqualityWrap .productqualityLeft{ width:48%; float:left;}
.productqualityWrap .productqualityLeft h2{ color:#ffffff;}
.productqualityWrap .productqualityRight{width:48%; float:left; margin-left:4%; text-align: center;}
.productqualityWrap .productqualityRight img{width: 350px; margin: 0 auto;}

.about-ourproductslistWrap{ position:relative; padding:60px 0; background:#f1f1f1;}
.about-ourproductslistWrap .about-ourproductslistInner{ width:95%; float:right;}
 
.managementteamWrap{ padding:60px 0; position:relative;}
.managementteamWrap .heading{position:relative;}
.managementteamWrap .heading .headingInner{}
.managementteamWrap .cairmanWrap{position:relative; background:#9b3333; padding:40px 0; color:#ffffff;}
.managementteamWrap .cairmanWrap .cairmanInner{position:relative;}
.managementteamWrap .cairmanWrap .cairmanInner .cairmanMsg{ width:58%; float:left; margin-right:10%;}
.managementteamWrap .cairmanWrap .cairmanInner .cairmaninfoWrap{width:32%; float:left; margin-top:-200px;}
.managementteamWrap .cairmanWrap .cairmanInner .cairmaninfoWrap img{ width:100%;-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1); box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);}
.managementteamWrap .cairmanWrap .cairmanInner .cairmaninfoWrap .cairmaninfo{ text-align:center; margin-top:15px;}
.managementteamWrap .cairmanWrap .cairmanInner .cairmaninfoWrap .cairmaninfo .name{ font-size:26px; line-height:34px; font-family: 'poppinsregular';}
.teamWrap{ position:relative; padding-top:60px}
.teamWrap .teamInner{ position:relative;}
.teamWrap .teamInner .teamBox{ width:23%; margin:0 1%; float:left;}
.teamWrap .teamInner .teamBox img{ width:100%;}
.teamWrap .teamInner .teamBox .teamInfo{ text-align:center; padding:15px 0 0 0;}
.teamWrap .teamInner .teamBox .teamInfo .name{ font-size:20px; line-height:24px; font-family: 'poppinsregular';}
.teamWrap .teamInner .teamBox .teamInfo .desig{}

.galleryWrap{ position:relative; padding:60px 0; background:#f1f1f1;}
.galleryWrap .galleryInner{ position:relative;}
.galleryWrap .galleryInner ul{}
.galleryWrap .galleryInner ul li{ width:23%; float:left;margin: 10px 1%;}
.galleryWrap .galleryInner ul li img{ width:100%;border: 2px solid #9a3333;}

.vidgalleryWrap{ position: relative; padding: 60px 0;}
.vidgalleryWrap .vidgalleryInner{position: relative; }
.vidgalleryWrap .vidgalleryInner ul{}
.vidgalleryWrap .vidgalleryInner ul li{ width: 48%; margin: 20px 1%; float: left;}
.vidgalleryWrap .vidgalleryInner ul li iframe{ width: 100%; height: 340px;}
/* Contact Us */
.contactWrap{ overflow:hidden; background:#fab115;}
.contactWrap .contactInner{}
.contactWrap .contactInner ul{}
.contactWrap .contactInner ul li{ width:24%; float:left; text-align:center; font-size:20px; color:#9a3333; font-family: 'poppinsbold'; padding:30px 0; background:none;     text-transform: uppercase;}
/*.contactWrap .contactInner ul li:first-child:after{ width:500px; height:100%; background:#a6a6a6; left:-500px; content:""; position:absolute; top:0;}*/
.contactWrap .contactInner ul li:last-child{}
.contactWrap .contactInner ul li:first-child:after{}
.contactWrap .contactInner ul li img{ width: 20px; margin: -10px 0 0 0;}
.contactWrap .contactInner ul li span{ display:block;font-family: 'poppinsregular'; font-size:15px; color:#9a3333; margin-top:10px;}
.contactWrap .contactInner ul li span a{color:#404040;}
.contactWrap .contactInner ul li:nth-child(2){border-right: 1px solid #e59c00; border-left: 1px solid #e59c00;}

.ontactformWrap{ position:relative; padding:60px 0;}
.ontactformWrap .ontactformInner{ position:relative;}
.ontactformWrap .ontactformInner h2{ text-align:center;}
.ontactformWrap .inputBox{ width:48%; margin:0 1% 30px 1%; float:left;}
.ontactformWrap .inputBox.fullWidth{width:98%;}
.ontactformWrap .inputBox input{ width:100%; padding:18px 15px; border:1px solid #9a3333;font-family: 'poppinsregular';border-radius:6px;}
.ontactformWrap .inputBox select{ width:100%; padding:18px 15px; border:1px solid #9a3333;font-family: 'poppinsregular';border-radius:6px;}
.ontactformWrap .inputBox textarea{ width:100%; padding:18px 15px; border:1px solid #9a3333;font-family: 'poppinsregular';border-radius:6px;}
.ontactformWrap .inputBox .formError { color: #c70505; font-weight: normal; font-size: 13px; position: absolute; left: 15px; bottom: -22px;}
.ontactformWrap .inputSubmit{ width:98%; margin:20px 1% 0 1%; text-align:center;}
.ontactformWrap .inputSubmit input, .ontactformWrap .inputSubmit button{ padding:12px 30px; text-transform:uppercase; color:#ffffff; background:#9a3333; border-radius:10px; font-size:22px; font-family: 'poppinssemibold'; border:none;}

.corpporateaddWrap{ padding:60px 0; background:#9a3333; position:relative; text-align:center;}
.corpporateaddWrap .corpporateaddInner{}
.corpporateaddWrap .corpporateaddInner h3{ color:#fbb216; font-size:60px; line-height:62px; margin-bottom:15px; font-family: 'poppinsbold'; text-transform:uppercase;}
.corpporateaddWrap .corpporateaddInner ul{}
.corpporateaddWrap .corpporateaddInner ul li{ font-size:20px;font-family: 'poppinssemibold'; color:#ffffff;}

.googlemapWrap{ position:relative;}
.googlemapWrap iframe{ width:100%; min-height:450px; margin-bottom:-8px;}

.newseventWrap{ position:relative; padding:60px 0;}
.newseventWrap .newseventInner{}
.newseventWrap .newseventInner .newseventBox{ width:31%; margin:15px 1%; float:left;background:#fab115 url(../images/yellowBg.jpg)no-repeat right -30px bottom -160px;}
.newseventWrap .newseventInner .newseventBox a{}
.newseventWrap .newseventInner .newseventBox img{ width:100%;}
.newseventWrap .newseventInner .newseventBox .newsTitle{ padding:20px; font-size:14px; color:#9a3333;min-height: 250px;}

.foundationWrap{ position: relative; padding: 60px 0; font-size:18px;}
.foundationWrap .foundationInner{font-family: 'shivaji05';}
.foundationWrap h2{font-family: 'baloo_2'; font-weight:bold; line-height: 90px;}
.foundationWrap.whiteBg{}
.foundationWrap.redBg{ background: #9a2c29; color: #ffffff;}
.foundationWrap h3{font-family: 'shivaji05'; font-weight:bold;}
.visionmissionWrap{background: #fab115; }
.visionmissionWrap .visionmissionBox{ width: 48%;float: left; padding: 30px; background: #ffffff; color: #000000; margin: 0 1%; }
.visionmissionWrap .visionmissionBox h3{ color:#9a3333;}

.innerbannerWrap .innerbanner .bannerImg .foundationbannerimg{width: 120%; float: right; margin: -100px 0 0 0;}
.foundationGalleryWrap{ position: relative; padding: 60px 0; font-family: 'shivaji05';}
.foundationGalleryWrap .foundationGalleryinner{}
.foundationGalleryWrap .foundationgalleryBox{ width: 31%; margin: 15px 1%; float: left; background: #fab115 url(../images/yellowBg.jpg)no-repeat right -30px bottom -160px;}
.foundationGalleryWrap .foundationgalleryBox a{}
.foundationGalleryWrap .foundationgalleryBox h3{ font-family: 'shivaji05';}
.foundationGalleryWrap .foundationgalleryBox img{width: 100%;}
.foundationGalleryWrap .foundationgalleryBox .gallTitle{padding: 20px; font-size: 14px; color: #9a3333; min-height: 358px;}
/* FOOTER
========================================================================*/
footer { background:#9a2c29; padding:60px 0 0 0; color:#e6e6e6;}
.footerWrap { padding-bottom:60px; position:relative;}
.footerWrap:after{ position:absolute; left:0; bottom:-50px; width:204px; height:202px; background:url("../images/footer-ketli.png")no-repeat; content:"";} 
.footerWrap .footerBox{ float:left;}
.footerWrap .footerLogo{ margin-bottom:15px;}
.footerWrap .footerLogo img{} 
.footerWrap .footerBox.footerFirst{ width:30%;}
.footerWrap .footerBox.footerSecond{ width:38%; margin:0 1%;}
.footerWrap .footerBox h3{ color:#e6e6e6; font-size:26px; line-height:28px; margin-bottom:20px; font-family: 'poppinsbold'; text-transform:uppercase;}
.footerWrap .footerBox .quicklinks{ width:50%; float:left;}
.footerWrap .footerBox .quicklinks ul{}
.footerWrap .footerBox .quicklinks ul.margin-top{ margin-top:50px;}
.footerWrap .footerBox .quicklinks ul li{ padding-left:5px;}
.footerWrap .footerBox .quicklinks ul li a{ color:#e6e6e6; display:inline-block; padding:3px 0;}
.footerWrap .footerBox.footerThird{ width:30%;} 
.footerWrap .footerBox.footerThird ul.contact{}
.footerWrap .footerBox.footerThird ul.contact li{ padding-left:30px; margin-bottom:20px;}
.footerWrap .footerBox.footerThird ul.contact li a{ color:#e6e6e6;}
.footerWrap .footerBox.footerThird ul.contact li.add{ background:url("../images/add.png") no-repeat top 2px left;}
.footerWrap .footerBox.footerThird ul.contact li.tel{background:url("../images/call.png") no-repeat top 2px left;}
.footerWrap .footerBox.footerThird ul.contact li.mail{background:url("../images/mail.png") no-repeat top 2px left;}
.footerWrap .footerBox.footerThird ul.social{ margin-top:50px;}
.footerWrap .footerBox.footerThird ul.social li{ float:left; margin-right:10px;}
.footerWrap .footerBox.footerThird ul.social li:last-child{ margin-right:0;}
.footerWrap .footerBox.footerThird ul.social li a{ color:#e6e6e6;}
.footerWrap .footerBox.footerThird ul.social li a img{ width: 26px;}
.copyrightWrap{ background:#fab115; padding:20px 0;}
.copyRight { width:60%; float:left; color:#9a2c29; padding-left:20%;}
.designBy { width:40%; float:left; color:#9a2c29; text-align:right;}
.designBy a{ color:#9a2c29;}
/* HEADINGS
========================================================================*/
h1, h2, h3, h4, h5, h6 { }
h1 { font-size: 26px; line-height: 27px; }
h2 { font-size: 65px; line-height: 62px; color: #7d1617; margin-bottom: 30px;  text-transform:uppercase; font-family: 'poppinsbold';}
h2 span{ color:#e18a28;	}
h3 { font-size: 26px; line-height: 28px; color: #9a3333; margin-bottom: 10px; font-family: 'poppinsbold';}
h4 { font-size: 18px; line-height: 19px; color: #00a7ef; margin-bottom: 10px; }
h5 { font-size: 16px; line-height: 17px; }
h6 { font-size: 14px; line-height: 16px; }
p { margin-top: 10px; }
p:first-child { margin: 0; }
/* FORM
========================================================================*/
label { }
input, textarea, select { font-size: 14px; background: none; border: 1px solid #dadada; padding: 15px; margin: 0; }
input:focus, textarea:focus { border-color: #c1c1c1; background: none; }

/* Slick Slider
========================================================================*/
.slick-slider{position:relative; display:block; -moz-box-sizing:border-box;  box-sizing:border-box; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; 	user-select:none; -webkit-touch-callout:none; -khtml-user-select:none; -ms-touch-action:pan-y; touch-action:pan-y; -webkit-tap-highlight-color:transparent;}
.slick-list{position:relative; display:block; overflow:hidden; margin:0; padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer; cursor:hand;}
.slick-slider .slick-track, .slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0); -ms-transform:translate3d(0, 0, 0);  -o-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0);}
.slick-track{position:relative; top:0; left:0; display:block;}
.slick-track:before, .slick-track:after{display:table; content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none; float:left; height:100%; min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display:block;}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block; height:auto; border:1px solid transparent;}
.slick-arrow.slick-hidden {display:none;}

@font-face {
    font-family: 'poppinsbold';
    src: url('fonts/poppins-bold-webfont.eot');
    src: url('fonts/poppins-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/poppins-bold-webfont.woff') format('woff'),
         url('fonts/poppins-bold-webfont.ttf') format('truetype'),
         url('fonts/poppins-bold-webfont.svg#poppinsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsregular';
    src: url('fonts/poppins-regular-webfont.eot');
    src: url('fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/poppins-regular-webfont.woff') format('woff'),
         url('fonts/poppins-regular-webfont.ttf') format('truetype'),
         url('fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinssemibold';
    src: url('fonts/poppins-semibold-webfont.eot');
    src: url('fonts/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/poppins-semibold-webfont.woff') format('woff'),
         url('fonts/poppins-semibold-webfont.ttf') format('truetype'),
         url('fonts/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsmedium';
    src: url('fonts/poppins-medium-webfont.eot');
    src: url('fonts/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/poppins-medium-webfont.woff') format('woff'),
         url('fonts/poppins-medium-webfont.ttf') format('truetype'),
         url('fonts/poppins-medium-webfont.svg#poppinsmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinslight';
    src: url('fonts/poppins-light-webfont.eot');
    src: url('fonts/poppins-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/poppins-light-webfont.woff') format('woff'),
         url('fonts/poppins-light-webfont.ttf') format('truetype'),
         url('fonts/poppins-light-webfont.svg#poppinslight') format('svg');
    font-weight: normal;
    font-style: normal;

} 
@font-face {
    font-family: 'baloo_2';
    src: url('fonts/baloo2-bold-webfont.eot');
    src: url('fonts/baloo2-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/baloo2-bold-webfont.woff') format('woff'),
         url('fonts/baloo2-bold-webfont.ttf') format('truetype'),
         url('fonts/baloo2-bold-webfont.svg#baloo_2bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
 
 @font-face {
    font-family: 'shivaji01';
    src: url('fonts/shivaji01-webfont.eot');
    src: url('fonts/shivaji01-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/shivaji01-webfont.woff') format('woff'),
         url('fonts/shivaji01-webfont.ttf') format('truetype'),
         url('fonts/shivaji01-webfont.svg#shivaji01normal') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'shivaji05';
    src: url('fonts/shivaji05-webfont.eot');
    src: url('fonts/shivaji05-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/shivaji05-webfont.woff') format('woff'),
         url('fonts/shivaji05-webfont.ttf') format('truetype'),
         url('fonts/shivaji05-webfont.svg#shivaji05normal') format('svg');
    font-weight: normal;
    font-style: normal;

}


.accordion-item{
   margin: 10px;
}
.accordion-content{
    display: none;
 }

 .accordion-tab {
    padding: 10px;
    border-radius: 10px;
    background: #e18a28;
    cursor: pointer;
}

.accordion-content {
    background: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 
  .hide-elem{
    display: none;
}

.read-more-btn{
    font-weight: bold;
    color: black;
}


.locations-section ul{
    padding: 60px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-content: space-between;
}

.locations-section  ul li{
    cursor: pointer;
}
.locations-section  ul li:nth-child(odd){
   background: #9a3333;
    color: #fab115;
     margin: 10px;
    padding: 30px;
    text-align: center;
     font-weight: bold;
     font-size: 24px;
      border-radius: 10px;
      transition: all 0.9s;
}

.locations-section  ul li:nth-child(even){
   color: #9a3333;
    background: #fab115;
     margin: 10px;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
    transition: all 0.9s;
  

}

.locations-section  ul li:nth-child(odd):hover{
    border: 4px solid  #fab115;
    
}


.locations-section  ul li:nth-child(even):hover{
    border: 4px solid  #9a3333;
}


.locations-section  ul li:nth-child(even) a{
   color: #9a3333;
}

.locations-section  ul li:nth-child(odd) a{
    color: #fab115;
}


@media(max-width: 768px){
.locations-section ul{
    grid-template-columns: 1fr 1fr;
}

.locations-section  ul li{
       padding: 12px !important;
    font-size: 16px !important;
}
}


@media(max-width: 550px){

}



    .carrer-grid-layout {
    /* display: flex; */
    /* grid-template-columns: 1fr 1fr; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

.carrer-section {
    padding: 60px 30px;
}

.career-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #9a3333;
    margin: 10px;
    padding: 20px 30px;
    border-radius:10px;
}

.career-header h3{
    color: #fab115;
}

span.job-location {
    background: #fab115;
    color: #9a3333;
    padding: 3px 10px;
    border-radius: 10px;
}

@media(max-width: 1076px){
    .carrer-grid-layout{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 768px){
    .career-header {
        flex-direction: column;
    }
}

@media(max-width: 500px){
    .carrer-section{
        padding: 60px 10px;
    }
}



 .career-accordion{
            max-width: 1100px;
            margin: 50px auto;
          }
          .career-accordion-item {
            margin: 10px;
          }
        
          .career-accordion-content {
            display: none;
          }
        
          .career-accordion-tab {
            padding: 30px 20px;
            border-radius: 10px;
            /* background: #e18a28; */
            background: #9a3333;
          
            display: flex;
            align-items: center;
            /*flex-direction: column;*/
            justify-content: space-between;
          }

      .career-accordion-tab h4{
           color: #fab115;
           font-size: 30px;
           margin-bottom: 0px;
           line-height: 1.2;
          
          }
        
        
        @media(max-width: 769px){
    .career-accordion-tab{
         flex-direction: column;
    }
     .career-accordion-tab h4{
          text-align: center;
    margin-bottom: 12px;
     }
}
    
          .career-accordion-content {
        
            background: #fab115;
            color: #9a3333;
            padding: 20px;
            border-radius: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 20px;
            line-height: 1.3;
          }

          .tab-icon{
            height: 20px;
          
          }



 .apply-now-btn{
                background: #fab115;
                color: #9a3333;
                padding: 10px 15px;
                border-radius: 10px;
           }

          .apply-now-btn:hover{
               background: #9a3333;
                border: 2px solid #fab115;
                color: #fab115;
          }